/* Estilo para tela de verificação de token */

.tela-token {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.token-container {
  background-color: #111;
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 15px #00AD4A;
}

.token-titulo {
  color: #00AD4A;
  margin-bottom: 15px;
  font-size: 24px;
}

.token-subtexto {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 20px;
}

.token-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.token-container input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #222;
  color: white;
}

.btn-verificar {
  background-color: #00AD4A;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-verificar:hover {
  background-color: #008f3a;
}

.btn-reenviar {
  width: 60%;
  padding: 12px;
  margin-top: 16px;
  background-color: transparent;
  border: 2px solid #00AD4A;
  border-radius: 8px;
  color: #00AD4A;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-reenviar:hover {
  background-color: #00AD4A;
  color: white;
}

.btn-reenviar:active {
  transform: scale(0.98);
}