name: CI Pipeline para Back-End

on:
  pull_request:
    branches: [ backMain ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do Repositório
        uses: actions/checkout@v4

      - name: Configurar Node.js v20
        uses: actions/setup-node@v4
        with:
          node-version: '20.x' 
          cache: 'npm' 

      - name: Instalar Dependências
        run: npm ci

      - name: Rodar o Linter
        run: npm run lint

      - name: Rodar os Testes
        run: npm run test